.todoapp {
    max-width: 500px;
    margin: 0 auto;
    background-color: #efefef;
    padding: 20px;
    margin-top: 10%;
}

.btn {
    margin-top: 10px;
}

h1 {
    margin: 0 0 30px 0;
    text-align: center;
}

ul {
    padding-left: 20px;
    margin-bottom: 30px;
}

li {
    font-size: 20px;
    color: #6f6f6f;
}

.search {
    margin-bottom: 20px;
    border-bottom: 1px solid #cecece;
    padding-bottom: 20px;
}